#  Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# cloudformation package
package.yaml

# tardigrade-ci
.tardigrade-ci
tardigrade-ci/

# eclint
.git/
