#  Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# cloudformation package
package.yaml

# tardigrade-ci
.tardigrade-ci
tardigrade-ci/

# terratest packaging
tests/go.*

# terraform lock file
.terraform.lock.hcl
